body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #003655;
    height: 70px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 50px;
}

.mainCover {
    width: 90%;
    border-style: solid;
    border-width: 3.75px;
    border-radius: 60px;
}

.mainCoverE {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.tasafah {
    margin-top: 17%;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #003655;
    color: white;
    border-color: #003655;
    border-style: solid;
    border-width: 500%;
    font-size: 195%;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.1s;
}

.tasafah:active {
    background-color: white;
    color: black;
}

h1 {
    font-size: 150%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.landingPageText {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.landingPageText2 {
    font-size: 75%;
    display: flex;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.product {
    background-color: #003655;
    width: 100%;
    min-height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product img {
    width: 90%;
    border-radius: 14%;
}

.product p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.mainProductCover {
    height: 100%;
    border-radius: 10%;
    border-color: #003655;
    border-style: solid;
    border-width: 8px;
}

.mainProductCoverE {
    margin-top: 11%;
    height: 35%;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 200%;
    margin-left: 10%;
    margin-top: 10%;
}

.buySection {
    background-color: rgba(236, 236, 236, 0.662);
    height: 11%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(3px);
}

.description {
    background-color: rgb(230, 230, 230);
    height: fit-content;
    width: 76%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    word-wrap: break-word;
    margin-bottom: 30%;
}

.buySection a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy {
    height: 70%;
    width: 80%;
    background-color: #003655;
    color: white;
    border: none;
    border-radius: 22px;
    font-size: 150%;
}

.back {
    position: fixed;
    left: 15;
    height: 3.5%;
}

.orderImgE {
    margin-top: 8%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
}

.orderImg {
    width: 45%;
    border-color: #003655;
    border-width: 15px;
    border-style: solid;
    border-radius: 20%;
}

.information {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    margin-left: 7%;
    margin-right: 7%;
}

.information input {
    width: 100%;
    height: 195%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.information p {
    margin: 10% 5% 10% 5%;
    display: flex;
    justify-content: center;
    color: white;
}

.bb {
    margin-top: 27%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}